$header-colour: #0d0155;
$footer-colour: #170097;
$header-title: #9c8afe;
$title-colour: #bb5cf6;
$main-colour: #6f5dd7;
$question-colour: #c2a2ff;
$question-hover-colour: #a983f1;
$font-colour: #d2c7ff;
$next-colour: #5039ac;
$next-hover-colour: #4126af;
$dark-colour: #040603;
$question-correct-colour: #84e396;
